#experiencias{
	p{
		font-size: 10px;
	}
}

#buscador{
	input{
		border: 2px solid $grey;
	}
}

// HTML 2
#resultado{
	.row{
		.logo{
			img{
				width: 100%;
			}
		}
		.cont-busqueda{
			margin-top: 12px;
			#busqueda{
				margin-bottom: 0px;
				height: 22px;
			}
		}
		.nav-link{
			ul{
				display: flex;
				justify-content: space-around;
				
			}
		}
	}
	#map{
		height: 500px;
	}
}


