#experiencias{
	p{
		font-size: 10px;
	}
}

#buscador{
	input{
		border: 2px solid $grey;
	}
}

// HTML 2
#resultado{
	.row{
		.logo{
			img{
				width: 100%;
			}
		}
		.cont-busqueda{
			margin-top: 12px;
			#busqueda{
				margin-bottom: 0px;
				height: 22px;
			}
		}
		.nav-link{
			ul{
				display: flex;
				justify-content: space-around;
				
			}
		}
	}
	#map{
		height: 500px;
	}
}
.filtros-avanzados{
	.grey-text{
	color: $letters !important;
	font-weight: bold;
	}	
	hr{
		color: $hrGrey;
	}
	.fa-trophy{
		color: $fa-trophy;
	}
	.superhost{
		font-size: 14px;
		color: $letters !important;
		font-weight: bold;
	}
	.btn-section{
		.btn{
			text-transform: none;
			width: 200px;
		}
		.btn__pink{
			background: $pink;
		}
		.btn__grey{
			margin-left: 10px;
			color: $grey;
		}
	}
}


